* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
  }

  input[type=checkbox] {
    display: none; 
    border: 0; 
}

  .theme-switch label{
     border-bottom: 0;
     padding-bottom: 2px;
  } 



  .logo-name{
    text-decoration: none;
    color: var(--on-background);
  }
  
  .logo {
    margin-right: auto;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    color: var(--on-background);
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    color: var(--on-background);
    text-decoration: none;
  } 
  
  .nav__links li {
    padding: 0px 20px;
  }
  
 .logo-name, .nav__links li a {
  width: fit-content;
    background-color: transparent;
    border: 0px;
   font-weight: 500;
   cursor: pointer;
   color: var(--on-background);
   opacity: 0.4;
   -webkit-transition: opacity 0.4s ease-out;
   -o-transition: opacity 0.4s ease-out;
   transition: opacity 0.4s ease-out;
   position: relative;
   width: 100%;
   padding-bottom: 2px;
   padding-top: 50px;
    
  }

  .logo-name::before, .nav__links li a::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--on-background);
    opacity: 0;
    -webkit-transition: max-width 0.4s ease-out;
    -o-transition: max-width 0.4s ease-out;
    transition: max-width 0.4s ease-out;
  }
  
  .logo-name:hover ,.nav__links li a:hover {
    opacity: 1;
  }

  .logo-name:hover:before, .nav__links li a:hover:before {
    opacity: 1;
    visibility: visible;
    max-width: 100%;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--background);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: var(--background);
  }
  .navbar-container {
    margin-left: 0;
    margin-top: 0;
    z-index: 10;
    position: fixed;
    letter-spacing: 1px;
    width: 70%;
    margin: 0 15% 0 0;
    background-color: var(--background);

  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--background);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color:var(--on-background);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--on-background);
    cursor: pointer;
  }

  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  