.projects-container {
  min-height: 100vh;
  font-weight: 500;
}

.projects-page {
  margin: 0 auto;
  display: grid;
  column-gap: 5vw;
  row-gap: 5vh;
  grid-template-columns: 1fr 1fr;

}

@media only screen and (max-width: 1140px) {
  .projects-page {
    padding: 3.75%;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
}

.header {
  height: 20vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.header h1 {
  background-color: transparent;
  border: 0px;
  font-weight: 500;
  cursor: pointer;
  color: var(--on-background);
  opacity: 0.4;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  letter-spacing: -0.1px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--on-background);
  padding-bottom: 2px;
  padding-top: 50px;
}

.header h1::before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 0;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--on-background);
  opacity: 0;
  -webkit-transition: max-width 0.4s ease-out;
  -o-transition: max-width 0.4s ease-out;
  transition: max-width 0.4s ease-out;
}

.header h1:hover {
  opacity: 1;
}

.header h1:hover:before {
  opacity: 1;
  visibility: visible;
  max-width: 100%;
}