:root {
  --background: #fafaf9;
  --on-background: #000000;
  --accent: #000000;
}

[data-theme="dark"] {
  --background: #2f2e32;
  --on-background: white;
  --accent: white;
}

body {
  font-family: 'Futura PT Book' !important;
  background-color: var(--background);
  color: var(--on-background);
  letter-spacing: 0.5px;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("./Fonts/FuturaPTBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

/* @font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Thin.woff") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Light.woff") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-BoldIta.woff") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-RegIta.woff") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-ExtLtIta.woff") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-MedIta.woff") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-ExtLt.woff") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-ExtBlk.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Bold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-ExtBdIta.woff") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-ExtBlkIta.woff") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Thin.woff") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-LightIta.woff") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-ExtraBold.woff") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Medium.woff") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-HairlineI.woff") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-BlackIta.woff") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Black.woff") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./Fonts/HelveticaNowDisplay-Hairline.woff") format("opentype");
  font-weight: 100;
  font-style: normal;
} */
